.completed[data-v-cbc5d6e8]{background-color:#18a0581a}@media(max-width:500px){[data-v-cbc5d6e8] .n-grid{display:grid!important;grid-template-columns:1fr!important}[data-v-cbc5d6e8] .n-grid .n-gi{grid-column:auto!important}}
